<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form action="http://localhost:9090/menu/addmenu" method="post">
        menu_code: <input type="text" name="menuCode"/> <br>
        menu_name: <input type="text" name="menuName"/> <br>
        menu_type: <input type="text" name="menuType"/> <br>
        url: <input type="text" name="url"/> <br>
        parent_id: <input type="text" name="parentId"/> <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>